/* Patterns - geral */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #FFF;
}
:root{
    --dancing-script:  'Dancing Script', cursive;
    --normal-text: 'Montserrat', sans-serif;
    --neon-green: #00B4B3;
    --bluey-grey-transparent:rgba(139,162,176,0);
    --bluey-grey-lev0:rgba(139,162,176,0.4);
    --bluey-grey-lev1:rgba(139,162,176,0.9);
    --bluey-grey-heavy:#B2CEDE;
    --rightside-color:#E5F0FA;
    --font-color-curriculum:#091B2F;
    --background-dark:linear-gradient(to top, #05151d, #0c151f, #131620, #191621, #1e1620);
}
body {
    background: #1E1620 url(../images/background.jpg) fixed no-repeat;
    background-size: cover;   
    display: flex; 
    flex-direction: column; 
    font-family: var(--normal-text);
    justify-content: space-between;
}
.container{
    flex: 1;
    height:75vh;
    width:100vw;
}
.container-conteudo{
    width:90vw;
    margin:auto
}




/* Desktop grande */
@media (min-width: 1921px) { 
    :root{
        font-size:12px;
    }
}

/* Desktop comum */
@media (min-width: 1441px) and (max-width: 1920px) { 
    :root{
        font-size:10px;
    }
}

/* Desktop pequeno */
@media (min-width: 1281px) and (max-width: 1440px) { 
    :root{
        font-size:9px;
    }
}

/* Tablet retrato */
@media (min-width: 1024px) and (max-width: 1280px) { 
    :root{
        font-size:8.5px;
    }

}

/* Tablet paisagem */
@media (min-width: 768px) and (max-width: 1023px) { 
    :root{
        font-size:7.5px;
    }
}


 /* Mobile grandes */
@media (min-width: 481px) and (max-width: 767px) { 
    :root{
        font-size:6.5px;
    }
}

/* Mobile pequenos */
@media (min-width: 360px) and (max-width: 480px) { 
    :root{
        font-size:6px;
    }
}




